<nav class="navbar navbar-expand-sm bg-dark navbar-dark">


    <ul class="navbar-nav" *ngIf="!isLoggedIn">
        <li class=" nav-item " style="color:white;font-weight: bold; ">
            Connectez vous
        </li>

    </ul>

    <ul class="navbar-nav " *ngIf="isCommercial() ">
        <li class="nav-item ">
            <a routerLink="missions" routerLinkActive="active" class="nav-link ">Missions</a>
        </li>
        <li class="nav-item ">
            <a routerLink="create-mission" routerLinkActive="active" class="nav-link ">Nouvelle Mission</a>
        </li>
        <li class="nav-item ">
            <a routerLink="add-collaborateur" routerLinkActive="active" class="nav-link ">Ajouter Collaborateur</a>
        </li>
    </ul>
    <ul class="navbar-nav " *ngIf="isCollaborateur() ">
        <li class="nav-item ">
            <a routerLink="missions" routerLinkActive="active" class="nav-link ">Missions</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li style="color:white;font-weight: bold; ">
            <mat-icon style="vertical-align: sub;">
                account_circle
            </mat-icon>
            {{this.user.username}}
        </li>
        <li class="nav-item ">
            <a mat-button (click)="logout()" style="color:white;">
                <mat-icon class="mr-2">exit_to_app</mat-icon>
                Deconnecter</a>

        </li>
    </ul>

</nav>
<!-- <div class="container "> -->
<router-outlet></router-outlet>
<!-- </div> -->